<app-advertise></app-advertise>
<div id="imageBlock">
    <div id="women" class="d-flex">
        <span class="w-100 h-100" id="innerwomen">
            <a>Shop Women <span class="bi bi-arrow-right"></span></a>
        </span>
    </div>
    <div id="men" class="d-flex">
        <span class="w-100 h-100" id="innermen">
            <a>Shop Women <span class="bi bi-arrow-right"></span></a>
        </span>
    </div>
    <div id="kids" class="d-flex">
        <span class="w-100 h-100" id="innerkid">
            <a>Shop Women <span class="bi bi-arrow-right"></span></a>
        </span>
    </div>
</div>
<app-offeringdeals></app-offeringdeals>
<div class="text-center m-5">
    <h6 class="text-muted">NEW COLLECTION</h6>
    <h2>Best Picks 2019</h2>
    <p class="text-muted">Appear, dry there darkness they're seas, dry waters thing fly midst. Beast, above fly brought Very green.</p>
</div>
<div class="text-white">
    <div id="firstcolumnadv">
        <span id="bag" class="me-2">
            <h4>Bags Collection</h4>
            <h6>Shop now <span class="bi bi-arrow-right-short"></span></h6>
        </span>
        <span id="printedmenshirt">
            <div class="ms-lg-5">
                <h4>Printed Men's Shirts</h4>
                <h6>Shop now <span class="bi bi-arrow-right-short"></span></h6>
            </div>
        </span>
    </div>
    <div id="secondcolumnadv">
        <span id="basicwomendress">
            <div class="ms-lg-5">
                <h4>Basic Women's Dress</h4>
                <h6>Shop now <span class="bi bi-arrow-right-short"></span></h6>
            </div>
        </span>
        <span id="sweatshirt" >
            <h4>Sweatshirt</h4>
            <h6>Shop now <span class="bi bi-arrow-right-short"></span></h6>
        </span>
    </div>
</div>
<app-topmonthseller></app-topmonthseller>