<footer class="container-fluid bg-black" style="color: white; position: relative; width: auto;">
    <div style="padding: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="m-4 fs-4">Want style Ideas and Treats?</div>
        <div class="m-2 fs-5 d-flex">
            <input class="text-bg-dark p-2 me-2" style="border-style: none; width: auto;" type="email" placeholder="Enter Email*">
            <button class="text-white p-2" style="background-color: grey; border-style: none;">Subscribe</button>
        </div>
        <div class="d-flex flex-wrap m-3" style="color: grey; width: auto;" id="footermenu">
            <span>
                <h2 style="color: white;">Shopper.</h2>
                <div id="fasttages">
                    <span class="bi bi-facebook"></span>
                    <span class="bi bi-youtube"></span>
                    <span class="bi bi-twitter"></span>
                    <span class="bi bi-instagram"></span>
                    <span class="bi bi-medium"></span>
                </div>
            </span>
            <span>
                <h6 style="color: white;">SUPPORT</h6>
                <div>Contact Us</div>
                <div>FAQs</div>
                <div>Size Guide</div>
                <div>Shipping &amp; Returns</div>
            </span>
            <span >
                <h6 style="color: white;">SHOP</h6>
                <div>Men's Shopping</div>
                <div>Women's Shopping</div>
                <div>Kids' Shopping</div>
                <div>Discounts</div>
            </span>
            <span >
                <h6 style="color: white;">COMPANY</h6>
                <div>Our Story</div>
                <div>Careers</div>
                <div>Terms &amp; Conditions</div>
                <div>Privacy &amp; Cookie policy</div>
            </span>
            <span>
                <h6 style="color: white;">CONTACT</h6>
                <address>
                    <div>1-202-555-0105</div>
                    <div>1-202-555-0106</div>
                    <div>help@shopper.com</div>
                </address>
            </span>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-between border-top">
        <h6 style="color: grey;" class="m-2">© 2019 All rights reserved. Designed by Unvab.</h6>
        <div class="m-2">
            <img src="../../assets/images/Screenshot 2023-04-07 130144.jpg">
        </div>
    </div>
</footer>
